@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,500&family=Kiwi+Maru:wght@500&display=swap');

:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
}


body{
    font-size: 18px;
    line-height: 1.5;
    font-family: Alegreya;
}

body{
    display: grid;
    grid-template-areas: "head head"
                         "nav main"
                         /* "main main" */
                         "foot foot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 4fr;
}

@media screen and (min-width: 23.4em){
    body{
        grid-template-areas: "head head"
        "nav main"
        /* "main main" */
        "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > header{
    grid-area: head;

}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

h1, h2, h3{
    line-height: 1.2;
    font-family: 'Kiwi Maru';
}

p{
    max-width: 50em;
}

body > nav{
    grid-area: nav;
    font-family: 'Alegreya:ital,wght@0,400';
}

body > nav ul{
    list-style-type: none;
    padding: 0;
}

/* body > nav ul li {
    display: inline;
    padding-right: 1rem;
} */

body > main{
    grid-area: main;
}

body > footer{
    grid-area: foot;
}

header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1{
    margin: 0;
}

body#portfolio ul#portfolioList{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioList li{
    flex-basis: 48%;
    padding-right: 2%;
}